/* .gauge-3{
   height: 100%;
   width: 100%;
} */

.guages{
    height: 200px;
    width: 200px;
    /* margin-left: 5px !important; */
}

@media (max-width:1600px){
    .guages{
        margin-right: 10px !important;
    }
   
}

@media (max-width:1300px) {
    .guages{
        height: 165px;
        width: 165px;
        margin-left: 10px !important;
    }   
}

@media(max-height:700px){
    .guages{
        height: 165px;
        width: 165px;
        margin-left: 10px !important;
    }
}
