
<div class="compp">
    <div class="compass">
        <div class="compass-inner">
            <div class="north">N</div>
            <!-- <div class="tickkk"></div> -->
            <div class="NE">NE</div>
            <!-- <div class="tickkk2"></div> -->
            <!-- <div class="tickkk"></div> -->
            <div class="east">E</div>
            <!-- <div class="tickkk"></div> -->
            <div class="SE">SE</div>
            <!-- <div class="tickkk"></div> -->
            <div class="west">W</div>
            <!-- <div class="tickkk"></div> -->
            <div class="SW">SW</div>
            <!-- <div class="tickkk"></div> -->
            <div class="south">S</div>
            <!-- <div class="tickkk"></div> -->
            <div class="NW">NW</div>
            <!-- <div class="tickkk"></div> -->
            <div class="main-arrow" [style.transform]="'rotate(' + compassValue + 'deg)'">
                <div class="arrow-up"></div>
                <div class="arrow-down"></div>
            </div>
        </div>
    </div>
</div>