@media(max-width: 1300px){
    .compass {
      width: 120px !important;
      height: 120px !important;
      /* background-color: var(--main-text);
      border-radius: 100%;
      /* background-image: -webkit-linear-gradient(top, #F7F7F7, #ECECEC); */
      /* position: relative;
      margin: 0 auto; */ 
    }
    .compp{
      width: 70%;
      display: flex;
      padding-top: 20px !important;
      flex-direction: column;
      /* align-items: center; */
      /* justify-content: center; */
    }
    .compass-inner {
      width: 115px !important;
      height: 115px !important;
      background-color: var(--background-color);
      border-radius: 100%;
      position: relative;
      left: 2.75px;
      top: 2.75px;
      border: 1px solid #C5C5C5;
    }

.north {
	left: 54px !important;
	top: 2px;
}
.NW{
  left: 15px !important;
top: 18px !important;
}
.NE{
  left: 86px !important;
top: 18px !important;
}
.SE{
  left: 86px !important;
  top: 90px !important;
}
.SW{
  left: 18px !important;
  top: 90px !important;
}

.east {
	left: 105px !important;
	top: 54px !important;
}

.west {
	left: 2px;
	top: 54px !important;
}

.south {
	left: 54px !important;
	top: 105px !important;
}
.north, .south, .east, .west {
	font-size: 7px !important;
	font-family: 'Lobster Two', cursive;
	color: var(--main-text);
	position: absolute;
}
.NW, .SE, .NE, .SW {
	font-size: 7px !important;
	font-family: 'Lobster Two', cursive;
	color: var(--main-text);
	position: absolute;
}

.main-arrow {
	height: 100%;
	width: 5px;
	left: 19.5px;
	position: relative;
	padding-top: 0.75px;
	box-sizing: border-box;
	transform: rotate(90deg);
}

.arrow-up {
	width: 0; 
	height: 10px;
	border-left: 2.5px solid transparent;
	border-right: 2.5px solid transparent;
	border-bottom: 21.25px solid #EF5052;
	position: relative;
}
.arrow-up {
  left: 2.5px;
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
	transform: rotate(5deg);
  border-bottom: 54px solid #f95858 !important;
  border-left: 6px solid transparent;
  border-right: 5.5px solid transparent;
}

.main-arrow {
  width: 15px;
  left: 49px !important;
  -webkit-animation-direction: unset;
  /* -webkit-transform: rotate(80deg); */
  /* padding-top: 0.75px; */
}
  }


  @media(max-height:700px){
    .compass {
      width: 120px !important;
      height: 120px !important;
      /* background-color: var(--main-text);
      border-radius: 100%;
      /* background-image: -webkit-linear-gradient(top, #F7F7F7, #ECECEC); */
      /* position: relative;
      margin: 0 auto; */ 
    }
    .compp{
      width: 70%;
      display: flex;
      padding-top: 20px !important;
      flex-direction: column;
      /* align-items: center; */
      /* justify-content: center; */
    }
    .compass-inner {
      width: 115px !important;
      height: 115px !important;
      background-color: var(--background-color);
      border-radius: 100%;
      position: relative;
      left: 2.75px;
      top: 2.75px;
      border: 1px solid #C5C5C5;
    }

.north {
	left: 54px !important;
	top: 2px;
}
.NW{
  left: 15px !important;
top: 18px !important;
}
.NE{
  left: 86px !important;
top: 18px !important;
}
.SE{
  left: 86px !important;
  top: 90px !important;
}
.SW{
  left: 18px !important;
  top: 90px !important;
}

.east {
	left: 105px !important;
	top: 54px !important;
}

.west {
	left: 2px;
	top: 54px !important;
}

.south {
	left: 54px !important;
	top: 105px !important;
}
.north, .south, .east, .west {
	font-size: 7px !important;
	font-family: 'Lobster Two', cursive;
	color: var(--main-text);
	position: absolute;
}
.NW, .SE, .NE, .SW {
	font-size: 7px !important;
	font-family: 'Lobster Two', cursive;
	color: var(--main-text);
	position: absolute;
}

.main-arrow {
	height: 100%;
	width: 5px;
	left: 19.5px;
	position: relative;
	padding-top: 0.75px;
	box-sizing: border-box;
	transform: rotate(90deg);
}

.arrow-up {
	width: 0; 
	height: 10px;
	border-left: 2.5px solid transparent;
	border-right: 2.5px solid transparent;
	border-bottom: 21.25px solid #EF5052;
	position: relative;
}
.arrow-up {
  left: 2.5px;
  -webkit-transform: rotate(90deg); /* Safari and Chrome */
	transform: rotate(5deg);
  border-bottom: 54px solid #f95858 !important;
  border-left: 6px solid transparent;
  border-right: 5.5px solid transparent;
}

.main-arrow {
  width: 15px;
  left: 49px !important;
  --webkit-animation-direction: unset;
  /* -webkit-transform: rotate(80deg); */
  /* padding-top: 0.75px; */
}
  }

  .compass {
	width: 178px;
	height: 178px;
	background-color: var(--main-text);
	border-radius: 100%;
	/* background-image: -webkit-linear-gradient(top, #F7F7F7, #ECECEC); */
	position: relative;
	margin: 0 auto;
}

.compass-inner {
	width: 172px;
	height: 172px;
	background-color: var(--background-color);
	border-radius: 100%;
	position: relative;
	left: 2.75px;
	top: 2.75px;
	border: 1px solid #C5C5C5;
}

.main-arrow {
	height: 100%;
	width: 5px;
	left: 19.5px;
	position: relative;
	padding-top: 0.75px;
	box-sizing: border-box;
	transform: rotate(90deg);
}

.arrow-up {
	width: 0; 
	height: 10px;
	border-left: 2.5px solid transparent;
	border-right: 2.5px solid transparent;
	border-bottom: 21.25px solid #EF5052;
	position: relative;
}