<div class="maindiv">
    <app-sidenav></app-sidenav>

    <section>
        <router-outlet></router-outlet>
        <!-- @if(page == 'Home'){
            <app-home-page></app-home-page>
           
        }@else if (page == 'Dashboard') {    
            <app-dashboard></app-dashboard>
             
        }@else if (page == 'Reports') {
           <app-reports></app-reports>
        }@else if (page == 'Analytics'){     
            <app-analytics></app-analytics>
        }@else {
            <app-home-page></app-home-page>
        } -->
    </section>
</div>