<div class="maindiv">
    <app-sidenav></app-sidenav>

    <section>
        @if(page == 'Home'){
            <!-- <app-home-page></app-home-page> -->
            <!-- <app-dashboard></app-dashboard> -->
            <app-analytics></app-analytics>
        }@else if (page == 'Dashboard') {    
            <!-- <app-dashboard></app-dashboard> -->
             <app-home-page></app-home-page>
        }@else if (page == 'Analytics'){     
            <!-- <app-analytics></app-analytics> -->
            <app-dashboard></app-dashboard>
        }@else {
            <app-home-page></app-home-page>
        }
    </section>
</div>