.main_dashboard{
    height: 100vh;
    width: 94%;
    /* background-color: aqua; */
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  h6{
    color: #020c50;;
  }
  h4{
    color: #ffff;;
  }
  .head{
    height: 6%;
    width: 100%;
    /* background-color: beige; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .main_body{
    height: 92%;
    width: 100%;
    /* background-color: bisque; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
   
  }
  .left{
    height: 100%;
    width: 59.5%;
    /* background-color: aquamarine; */
  }
  .right{
    height: 100%;
    width: 39.5%;
    /* background-color: blue; */
    overflow-y: auto;
  }
   
  .top{
    height: 66.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2%;
  /* background-color: aqua; */
  }
  .bottom{
    height: 31%;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
   
.text{
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color: white;
    font-size: 22px;
    padding-left: 10px;
}

.dropdown{
    margin: 10px;
    padding: 5px;
    width: 40%;
    height: 40px;
    border-radius: 20px;
    background-color: #141414;
    color: #ffffff;
} 



  
.container{
    width:33%;
    height: 28.7vh;
    display: flex;
    flex-direction: column;
    /* margin: 15px; */
    color: #020c50;;
    /* background: linear-gradient(1455deg, #00bcd4, #0097a7, #004d40); */
    /* background: linear-gradient(145deg, #00bcd4, #00c6b1, #006064); */
    /* background: linear-gradient(145deg, #00e5ff, #00e0b6, #00bfae); */
    /* background: linear-gradient(135deg, #4d8fff, #4f7c92, #6b6b6b); */
    /* background: linear-gradient(135deg, #3e5080, #484f65, #4b4d52); */
    /* background: linear-gradient(145deg, #3a9ad9, #54c5f8, #1f78c1); */
    background: linear-gradient(145deg, #3a9ad9, #54c5f8, #1f78c1);
    /* background: linear-gradient(145deg, #a1dffb, #c1eefa, #87cdfc); */
    /* background: linear-gradient(145deg, #a56dea, #c49df2, #e4c8fa); */
    /* background: linear-gradient(135deg, #4a90e2, #357ae8, #1c5bd6); */

    /* background-color: black; */
    align-items: center;
    align-content: center;
    border-radius: 10px;
    position: relative;
}



.location{
  margin-top: 5px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location img{
  height: 150px;
  filter: drop-shadow(1px 2px 2px #909090);
  width: 15px;
}

@media (max-height: 700px) {
.location img{
  height: 100px;
  width: 100px;
}
}
.location img{
  width: 80% !important;
  height: 60% !important;
}
.timer {
  text-align: center;
}

.imgCont{
    /* --progress-value:5;
    --progress-indicator-size: 200px; */
    --progress-size: 70px;
    /* --progress-inner-size: calc(var(--progress-size) - 0px); */
    /* border: 5px solid #2066B0; */
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--progress-size);
    height: var(--progress-size);
    border-radius: 50%;
    background: rgba(7, 153, 225, 0.983);
  }

.imgCont img{
    width: 80%;
    height: auto;
    object-fit: contain;
    color: #ffffff;
}

.container strong {
    font-size: 150%;
    background-color: unset;
    /* color: #020c50; */
    
  }
  
  .container span {
    font-size: 100%;
    color: #020c50;
  }

  .container img {
  margin-top: 10px;  
  width: 50%;
  height: 50%; 
  }

  .mapbox{
    /* margin: 15px; */
    width: 100%;
    height: 100%;
    /* margin: 20px; */
    /* background-color:aliceblue; */
    border-radius: 20px;
}
.map-container{
    height: 100%;
    width: 100%;
    /* border-radius: 10px; */
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px;
    overflow: hidden;
}


.shipContainer{
    margin-top: 2px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-self: center;
    align-items: end;
    flex-direction: column;
    /* background-color: var(--basebg); */
    /* background-color: lavender; */
    border-radius: 5px;
    /* color: var(--icons); */
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

svg{
  position: absolute;
  height: 160%;
  width: 100%;
}
 
@keyframes waveAnimation1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
 

.wave{
    height: 50px;
    width: 100%;
    margin-top: -50px;
    background-color: #20b5ef;
}
 
.shipImg{
height: 100%;
width: 100%; 
/* z-index: 1; */
animation: waveAnimation1 2s infinite linear;
}



/* Column 2 */  
.sensorList{
    /* margin: 20px; */
    /* flex: 1; */
    /* height: 333px; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    border-radius: 10px;
}  

.sensorContainer{
    width: 100%;
    height: 29.59vh;
    display: flex;
    flex-direction: column;
    margin: 5px;
    color: #ffffff;
    /* background-color: #232323; */
    /* background: linear-gradient(135deg, #3e5080, #484f65, #4b4d52); */
    background: linear-gradient(145deg, #3a9ad9, #54c5f8, #1f78c1);
    /* background: linear-gradient(145deg, #a1dffb, #c1eefa, #87cdfc); */
    align-items: center;
    align-content: center;
    border-radius: 10px;
    /* position: relative; */
}

.sensorContainer.fullWidth {
  width: 90%; /* Make it take most of the row */
  justify-content: center;
}

.sensorContainer strong {
    font-size: 200%;
    background-color: unset;
    color: #020c50;
  }
  
  .sensorContainer span {
    font-size: 100%;
    color: #154360;
  }
